JDash.Core/Service References/JDashRegistrationService/JDash.ProductRegistration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JDash.ProductRegistration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JDash.ProductRegistration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductRegistrationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentRegistryLicenseKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkstationID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductRegistrationInfo" nillable="true" type="tns:ProductRegistrationInfo" />
  <xs:complexType name="ProductRegistrationInfoRet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenceKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductRegistrationInfoRet" nillable="true" type="tns:ProductRegistrationInfoRet" />
</xs:schema>